* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $dark;
  color: snow;
}

h1{
  text-align: center;
}